<a href="https://colab.research.google.com/github/GVK-Sindhu/GFG/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
\sigma_{condition}

SyntaxError: unexpected character after line continuation character (<ipython-input-1-0aa555727124>, line 1)

$$\pi_{*}(EMP)$$
<!-- SELECT id,name,salary FROM employee -->
$$\pi_{id,name,salary}(employee)$$
$$\pi_{id,name,salary}(\sigma_{salary>1000}(employee))$$
$$ \pi_{id,name,salary,age}(\sigma_{salary>1000 \land age>50}(emp))$$
<!-- SELECT * FROM emp NATURAL JOIN department -->
$$ \pi_{*}(emp \bowtie department)$$
<!-- SELECT e.emp_id,e.name,e.salary,d.dept_id,d.dept_name  FROM employee e NATURAL JOIN department d -->
$$ let \space emp \space be \space e$$
$$ let \space dept \space be \space d$$
$$ \pi_{e.emp\_id,e.name,e.salary,d.dept\_id,d.dept\_name}(e \bowtie d)$$


<!-- SELECT * FROM students s JOIN course c ON s.course_id=c.id -->
$$ \pi_{*} (s \bowtie_{s.course\_id=c.id} c)$$

<!-- SELECT * FROM student s JOIN course c ON s.course_id=c.id WHERE s.age>17 AND c.price>2000 -->
$$ let \space student \space be \space s$$
$$ let \space course \space be \space c$$
$$ \pi_{*} (\sigma_{s.age>17 \land s.price>2000}(s \bowtie_{s.course\_id=c.id} c))$$
<!-- SELECT id,name,salary FROM emp ORDER BY salary DESC,name ASC -->
$$ \tau_{salary DESC,nmae ASC}(\pi_{id,name,sal}(emp))$$
<!-- single col multiple row subquery -->
<!-- SELECT * FROM user WHERE id IN (SELECT user_id FROM orders) -->
$$ let \space D \space be \space \pi_{user\_id}(orders)$$
$$ \pi_{*}(\sigma_{id \in D}(user))
$$

<!-- SELECT * FROM employee -->
<!-- relational algebra expression -->
$$\pi_{*}(employee)$$

\sigma_{condition}